{%extends 'base.html'%} {%block body%}
<div class="main">
  <div class="top-main">
    <h1>Developed by Team P13</h1>
  </div>
  <div class="center-main">
    <div class="member">
      <img
        src="https://www.promarinetrade.com/cache/promarine/public/shop_product_picture/_1200x800x0/4622_K.jpg"
        alt="avatar"
        width="250"
        height="250"
      />
      <p>Nguyễn Đăng Kiệt</p>
      <ul>
        <li>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <a href="#">https://github.com/kietnguyen17052001</a>
        </li>
        <li>
          <i class="fa fa-github" aria-hidden="true"></i>
          <a href="#">https://www.facebook.com/ngdk.5071/</a>
        </li>
      </ul>
    </div>
    <div class="member">
      <img
        src="https://www.promarinetrade.com/cache/promarine/public/shop_product_picture/cb190_651x600x0/4628_Q.jpg"
        alt="avatar"
        width="250"
        height="250"
      />
      <p>Nguyễn Trần Minh Quân</p>
      <ul>
        <li>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <a href="#">https://github.com/quandeptrai2001</a>
        </li>
        <li>
          <i class="fa fa-github" aria-hidden="true"></i>
          <a href="#">https://www.facebook.com/quandeptrai2001</a>
        </li>
      </ul>
    </div>
    <div class="member">
      <img
        src="https://www.promarinetrade.com/cache/promarine/public/shop_product_picture/67306_651x600x0/4631_T.jpg"
        alt="avatar"
        width="250"
        height="250"
      />
      <p>Dương Đình Thanh</p>
      <ul>
        <li>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <a href="#">https://github.com/thanh2931</a>
        </li>
        <li>
          <i class="fa fa-github" aria-hidden="true"></i>
          <a href="#">https://www.facebook.com/thanh2931</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-main"></div>
</div>
{%endblock%}
