{%extends 'base.html'%} {%load static%} {%block css%}
<link rel="stylesheet" href="{% static 'css/list.css' %}" /> {% endblock %}
{%block body%}
<div class="list-form">
  <div class="search-task">
    <form>
      <input
        type="text"
        name="keyword"
        class="input-text-search"
        id="keyword"
        value="{{keyword|default:''}}"
        placeholder="Enter task name..."
      />
      <input type="submit" class="input-submit-search" value="Search" />
  </div>
  <div class="main-list-task">
    <div class="category-task">
      <h2>Category</h2>
      <div class="menu-category">
        <ul>
          <li>
            <i class="fa fa-sun-o" aria-hidden="true"></i
            ><a href="{% url 'tasks:list' 1 %}">My day</a>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i
            ><a href="{% url 'tasks:list' 2 %}">Important</a>
          </li>
          <li>
            <i class="fa fa-tasks" aria-hidden="true"></i
            ><a href="{% url 'tasks:list' 3 %}">Tasks</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="list-task">
      <h2 style="display: inline-block">
        List task: <b>{{tasks.count}} tasks</b>,
        <b style="color: #2980b9">{{count_complete}} complete</b> and
        <b style="color: #e74c3c">{{count_incomplete}} incomplete</b>
      </h2>
      <div style="
        float: right;
      ">
        <select class="selected-box-sort" name="sort">
          {% if typesort %}
            {% if typesort == "0" %}
            <option value=0 selected="selected">Default</option>
            <option value=1>Sort by name</option>
            <option value=2>Complete/Incomplete</option>
            {%elif typesort == "1"%}
            <option value=0>Default</option>
            <option value=1 selected="selected">Sort by name</option>
            <option value=2>Complete/Incomplete</option>
            {%elif typesort == "2"%}
            <option value=0>Default</option>
            <option value=1>Sort by name</option>
            <option value=2 selected="selected">Complete/Incomplete</option>
            {%endif%}
          {% else%}
            <option value=0>Default</option>
            <option value=1>Sort by name</option>
            <option value=2>Complete/Incomplete</option>
          {% endif %}
          
        </select>
  
        <input class="sort-task-by-name" type="submit" value="Sort"/>
      </form>
      </div>
      <div class="add-task">
        <form action="{% url 'tasks:add_task' category_id %}" method = "post">{% csrf_token %}   
            {{form}}
          <input type="submit" class="input-submit-search" value="Add" />
        </form>
      </div>
      <div>
        <div class="show-list">
          {% for task in tasks%}
          <div class="task">
            <a class="task-complete" style="color: {% if task.complete %}white{% else %}#2980b9{% endif %}; background-color: {% if task.complete %}#2980b9{% else %}white{% endif %}"href="/list/{{category_id}}/task/{{task.id}}/complete?keyword={{keyword}}&sort={{typesort}}">{% if task.complete %}COMPLETE{% else %}INCOMPLETE{% endif %}</a>
            <a href="/list/{{category_id}}/task/{{task.id}}?keyword={{keyword}}&sort={{typesort}}"
              style="text-decoration-line: {% if task.complete %}line-through{% else %}none{% endif %}; color: black"
            >{{task.name}}</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="detail-task">
      <h2>Detail task</h2>
      {%if task%}
        <form action="{% url 'tasks:update' category_id task.id  %}" method="post"> {% csrf_token %}  
          <div class="detail" style="margin-top: 30px">
            <h4>ID</h4>
            <input type="text" name='id' value="{{task.id}}" style="margin-bottom: 16px; width: 100%;" disabled="disabled">
  
            <h4>Name</h4>
            <input type="text" name='name' value="{{task.name}}" style="margin-bottom: 16px; width: 100%;">
  
            <div style="display: flex; justify-content: space-between;  margin-bottom: 16px; align-items: center;">
              <h4 style="display: inline-block;">Completed</h4>

              {%if task.complete%}
                <input type="radio" name="iscomplete" id="complete" value="True" checked style="width: 20px; height: 20px;" checked>
                <label for="complete">Complete</label>
                <input type="radio" name="iscomplete" id="incomplete" value="False" style="width: 20px; height: 20px;">
                <label for="incomplete">Incomplete</label>
                {%else%}
                <input type="radio" name="iscomplete" id="complete" value="True" checked style="width: 20px; height: 20px;">
                <label for="complete">Complete</label>
                <input type="radio" name="iscomplete" id="incomplete" value="False" style="width: 20px; height: 20px;"  checked>
                <label for="incomplete">Incomplete</label>
              {%endif%}
            </div>
            <h4>CreateAt</h4>
            <input type="text" name='x' value="{{task.createdAt}}" style="margin-bottom: 16px; width: 100%;"  disabled="disabled">
  
            <h4>UpdateAt</h4>
            <input type="text" name='x' value="{{task.updatedAt}}" style="margin-bottom: 16px; width: 100%;"  disabled="disabled">
          </div>
          <div>
            <div
          class="submit-save-delete"
        >
          <button class="submit-save"

            >Save <i class="fa fa-floppy-o" aria-hidden="true"></i
          ></button>
          <a class="submit-delete" href="{% url 'tasks:delete' category_id task.id  %}"
            >Delete <i class="fa fa-trash-o" aria-hidden="true"></i
          ></a>
        </div>
          </div>
        </form>
      {%endif%}
    </div>
  </div>
</div>
{% endblock %}
